.bottomMargin {
  margin-bottom: 1em;
}

.labelFont {
  font-family: var(--font-monarcha);
  font-size: max(16px, calc(16px + 1vw));
  font-weight: 600;
}

.addBtn {
  border: 0.1em solid rgb(var(--foreground-rgb));
  border-radius: 0.25em;
  padding: 0.1em 1.2em;
}

.dragDropArea {
  background-color: rgb(var(--low-contrast-rgb));
  height: max(450px, 55vh);
  min-width: 300px;
  overflow: auto;
}

.emptyDragDrop {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: max(450px, 55vh);
}

.alignRight {
  display: flex;
  justify-content: flex-end;
}

.uploadBtn {
  background-color: rgb(var(--high-contrast-rgb));
  border: none;
  border-radius: 0.5em;
  color: rgb(var(--background-rgb));
  padding: 0.5em 2em;
}

.hidden {
  display: none;
  opacity: 0;
}

.visuallyHidden {
  font-size: 0;
}

@media (min-width: 1000px) {
  .labelFont {
    font-size: max(16px, calc(16px + 0.5vw));
  }
}
