.splashAnimationContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.splashAnimation {
  --fadeout-duration: 0.5s;
  opacity: 1;
  transition: opacity var(--fadeout-duration);
  width: 60vw;
}

.splashFadeout {
  opacity: 0;
}

@media (min-width: 1000px) and (min-aspect-ratio: 1) {
  .splashAnimation {
    width: 30vw;
  }
}
