.entryModal,
.statusModal {
  border: none;
  color: rgb(var(--foreground-rgb));
  padding: 0;
}

.entryModal {
  background-color: rgb(var(--low-contrast-rgb));
  border-radius: 0.2em;
  box-shadow: 0px 0px 5px 3px rgb(var(--medium-contrast-rgb));
  font-size: calc(12px + 0.5vw);
}

.entryModal::backdrop {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(var(--background-rgb), 0.2);
}

.statusModal {
  background-color: transparent;
  font-size: calc(16px + 0.5vw);
}

.statusModal::backdrop {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(var(--background-rgb), 0.9);
}

.modalWrapper {
  padding: 5vw;
}

.imgBtn {
  background-color: transparent;
  border: none;
  font-size: 0;
  height: max(40px, 3vw);
  margin-bottom: max(5px, 1vw);
  position: relative;
  width: max(40px, 3vw);
}

.textEntryIconContainer {
  height: max(35px, 2em);
  position: relative;
  top: 0.75em;
  width: max(35px, 2em);
  z-index: 1;
}

.imageWrapper,
.videoWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: max(5px, 1vh);
  width: max(250px, 80vw);
}

.imageContainer,
.videoContainer {
  background-color: rgba(var(--medium-contrast-rgb));
  height: max(250px, min(80vw, 60vh));
  width: max(250px, min(80vw, 60vh));
}

.imageContainer {
  position: relative;
}

.image {
  object-fit: contain;
}

.video {
  height: 100%;
  width: 100%;
}

.statusModalContent {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.updatingSpinner,
.deletingSpinner,
.loadingSpinner {
  height: 2em;
  margin: 2em;
  width: 2em;
}

.updatingSpinner,
.loadingSpinner {
  background: rgb(var(--high-contrast-rgb));
}

.updatingSpinner {
  animation: updatingSpinner 1s linear infinite;
}

@keyframes updatingSpinner {
  0% {
    border-radius: 10%;
    transform: rotate(0deg) scale(0.2);
  }
  50% {
    border-radius: 50%;
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    border-radius: 10%;
    transform: rotate(360deg) scale(0.2);
  }
}

.deletingSpinner:before,
.deletingSpinner::after {
  background-color: rgb(var(--high-contrast-rgb));
  content: "";
  display: block;
  height: 1em;
}

.deletingSpinner:before {
  animation: deletingSpinnerTop 0.3s infinite ease-in alternate;
  margin-bottom: 0.5em;
}

.deletingSpinner:after {
  animation: deletingSpinnerBottom 0.3s infinite ease-in alternate;
}

@keyframes deletingSpinnerTop {
  100% {
    transform: translateY(50%);
  }
}

@keyframes deletingSpinnerBottom {
  100% {
    transform: translateY(-50%);
  }
}

.loadingSpinner {
  animation: loadingSpinner 1s linear infinite;
}

@keyframes loadingSpinner {
  0% {
    transform: perspective(200px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(200px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(200px) rotateX(-180deg) rotateY(-180deg);
  }
}

.successIconContainer,
.errorIconContainer,
.alertIconContainer {
  height: 3em;
  margin: 0.5em;
  position: relative;
  width: 3em;
}

.statusMessage {
  font-family: var(--font-monarcha);
}

.statusCta {
  align-self: stretch;
  background-color: rgb(var(--high-contrast-rgb));
  border: none;
  border-radius: 0.2em;
  color: rgb(var(--low-contrast-rgb));
  font-size: calc(10px + 0.5vw);
  font-weight: 600;
  margin-top: 2em;
  padding: 0.5em 1em;
}

.hidden {
  display: none;
}

@media (min-width: 1000px) {
  .modalWrapper {
    padding: 2vw;
  }

  .imageWrapper,
  .videoWrapper {
    width: 60vw;
  }

  .imageContainer,
  .videoContainer {
    height: max(250px, min(60vw, 75vh));
    width: max(250px, min(60vw, 75vh));
  }
}
