.page {
  display: grid;
  grid-template: 1fr 2fr 8fr 1fr / 1fr 5fr 1fr;
  height: max(600px, 100vh);
}

.header {
  display: flex;
  grid-area: 2 / 2 / 3 / 3;
}

.main {
  display: grid;
  grid-area: 3 / 2 / 4 / 3;
  grid-template-columns: 5fr 4fr;
}

.logotypeImageContainer {
  position: relative;
  width: 35%;
}

.taglineSection {
  background-image: url("/tagline-background/light.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  display: grid;
  grid-column: 1 / 2;
  grid-template-rows: 1fr 1fr 2fr;
}

@media (prefers-color-scheme: dark) {
  .taglineSection {
    background-image: url("/tagline-background/dark.svg");
  }
}

.signInSection {
  display: flex;
  grid-column: 2 / 3;
  justify-content: right;
}

.tagline {
  font-family: var(--font-bely-display);
  font-size: max(16px, calc(16px + 1vw));
  grid-row: 2 / 3;
  margin-right: 5vw;
  text-align: right;
}

.signInBox {
  align-self: center;
  background-color: rgb(var(--medium-contrast-rgb));
  border-radius: 1vw;
  padding: 8%;
}

.signInHeading {
  font-family: var(--font-monarcha);
  font-size: max(20px, calc(20px + 1vw));
  font-weight: 600;
  margin-bottom: 5vh;
}

.newAccount {
  font-size: max(12px, calc(12px + 0.5vw));
  font-weight: 200;
  text-align: center;
}

.newAccountLink {
  color: rgb(var(--foreground-rgb));
  font-family: var(--font-monarcha);
  font-size: max(14px, calc(14px + 0.5vw));
  font-weight: 400;
  margin-left: 0.5rem;
}
