.page {
  display: grid;
  grid-template: 2fr 3fr 24fr 2fr / 1fr 12fr 1fr;
  min-height: 100vh;
  overflow-x: clip;
  position: relative;
  width: max(280px, 100%);
}

.header {
  align-items: center;
  border-bottom: 0.05em solid rgb(var(--foreground-rgb));
  display: flex;
  grid-area: 2 / 2 / 3 / 3;
  justify-content: space-between;
  padding-bottom: 2vh;
}

.main {
  grid-area: 3 / 2 / 4 / 3;
}

.headerLeft {
  display: flex;
  gap: 1em;
}

.logo {
  height: max(6px, 10vw);
  position: relative;
  width: max(6px, 10vw);
}

.heading {
  align-self: flex-end;
  font-family: var(--font-bely-display);
  font-size: max(12px, 6vw);
}

.accountBtn,
.entriesMenuItem {
  background-color: transparent;
  border: none;
  display: flex;
}

.accountBtn:hover,
.entriesMenuItem:hover {
  cursor: pointer;
}

.accountIcon {
  height: 10vw;
  position: relative;
  width: 10vw;
}

.entriesMenu {
  column-gap: 0.25em;
  display: flex;
  margin: 1em 0;
}

.entriesMenuItem {
  align-items: center;
  color: rgb(var(--foreground-rgb));
  column-gap: 0.25em;
  padding: 0;
  text-decoration: none;
}

.entriesMenuIcon {
  height: 8vw;
  position: relative;
  width: 8vw;
}

.entriesMenuLabel {
  font-family: var(--font-monarcha);
  font-size: max(16px, calc(16px + 1vw));
  margin-right: 0.5em;
}

.filtersMenuModal {
  background-color: rgb(var(--background-rgb));
  border: none;
  border-radius: 0.25em;
  box-shadow: 0px 0px 6px 2px rgb(var(--medium-contrast-rgb));
  color: rgb(var(--foreground-rgb));
  padding: 0;
}

.filtersMenuModalWrapper {
  padding: 1em;
}

.filtersMenuModal::backdrop {
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background-color: rgba(var(--low-contrast-rgb), 0.6);
}

.filtersMenuModalCloseBtn {
  background-color: transparent;
  border: none;
  height: 40px;
  margin-left: 1em;
  margin-top: 1em;
  position: relative;
  width: 40px;
}

.desktopOnly {
  display: none;
}

@media (min-width: 1000px) {
  .page {
    --account-icon-size: 5vw;
    --account-menu-size: 18vw;
    grid-template: 1fr 2fr 12fr 1fr / 1fr 12fr 1fr;
  }

  .headerLeft {
    gap: 2em;
  }

  .logo {
    height: 5vw;
    width: 5vw;
  }

  .heading {
    font-size: max(32px, calc(32px + 1vw));
  }

  .accountIcon {
    height: var(--account-icon-size);
    width: var(--account-icon-size);
  }

  .entriesMenuItem {
    column-gap: 0.2em;
  }

  .entriesMenuIcon {
    height: 4vw;
    width: 4vw;
  }

  .entriesMenuLabel {
    display: none;
  }

  .entriesMenuLabelShow {
    animation: revealLabel 0.5s 1 ease-in-out;
    display: block;
  }

  @keyframes revealLabel {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
  }

  .desktopOnly {
    display: block;
  }

  .mobileOnly {
    display: none;
  }
}
