.fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.tagsField {
  display: flex;
  margin-top: 0.025em;
}

.dropdownContainer {
  position: relative;
}

.dropdownToggle {
  align-items: center;
  background-color: rgb(var(--low-contrast-rgb));
  border: 0.025em solid rgb(var(--foreground-rgb));
  border-radius: 2px;
  color: rgb(var(--high-contrast-rgb));
  display: flex;
  font-size: calc(16px + 0.5vw);
  justify-content: space-between;
  padding: 0.35em 0.6em;
  width: max(200px, 15vw);
}

.countIndicator {
  font-size: calc(8px + 0.5vw);
  font-weight: 200;
}

.dropdownIconWrapper {
  height: 1em;
  transition: transform 200ms ease-in-out;
  width: 1em;
}

.dropdownIconWrapper.reverse {
  transform: rotate(-180deg);
}

.dropdown {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(var(--low-contrast-rgb), 0.8);
  border: 0.02em solid rgb(var(--high-contrast-rgb));
  border-top: none;
  font-size: calc(10px + 0.5vw);
  max-height: 250px;
  overflow: auto;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.growDown {
  animation: growDown 200ms ease-in-out;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.shrinkUp {
  animation: shrinkUp 250ms ease-in-out;
  transform-origin: top center;
}

@keyframes shrinkUp {
  0% {
    transform: scaleY(1);
  }
  20% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(0);
  }
}

.searchBar {
  left: 0;
  position: sticky;
  top: 0;
}

.addNewBtn {
  background-color: rgb(var(--low-contrast-rgb));
  border: 0.025em solid rgb(var(--high-contrast-rgb));
  border-radius: 0.25em;
  color: rgb(var(--high-contrast-rgb));
  font-size: calc(10px + 0.5vw);
  margin-left: 0.25em;
  margin-top: 0.25em;
  padding: 0.5em;
}

.addNewBtn:hover {
  cursor: pointer;
}

.addNewSubLabel {
  font-size: calc(8px + 0.5vw);
  font-weight: 200;
}

.addNewTagLabel {
  word-break: break-all;
}

.dropdownSection {
  border-bottom: 0.02em solid rgb(var(--high-contrast-rgb));
  padding: 0.5em;
}

.lastSection {
  border: none;
}

.searchInput {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(var(--foreground-rgb), 0.8);
  border: none;
  border-radius: 0;
  color: rgb(var(--background-rgb));
  font-size: calc(10px + 0.5vw);
  padding: 0.25em;
  width: 100%;
}

.searchInput::placeholder {
  font-style: italic;
  font-weight: 200;
}

.searchInput:focus {
  outline: none;
}

.dropdownSectionLabel,
.noneIndicator {
  font-size: calc(8px + 0.5vw);
  font-style: italic;
  font-weight: 200;
}

.noneIndicator {
  color: rgb(var(--high-contrast-rgb));
}

.loadingIndicator {
  font-style: italic;
}

.hiddenCheckbox {
  cursor: pointer;
  height: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.checkboxItem {
  align-items: center;
  display: flex;
  gap: 0.1em;
  margin: 0.2em 0;
  word-break: break-all;
}

.checkboxIcon {
  border-radius: 0.35em;
  flex-shrink: 0;
  height: 1.5em;
  width: 1.5em;
}

.hiddenCheckbox:focus + .checkboxIcon {
  outline: 0.2em solid rgba(var(--high-contrast-rgb), 0.6);
  outline-offset: -0.2em;
}

.visuallyHidden {
  font-size: 0;
  padding: 0;
}
