.form {
  display: flex;
  flex-direction: column;
}

.nameSection {
  margin-bottom: 5em;
}

.usernamePwdSection {
  margin-bottom: 3em;
}

.submitButton {
  align-self: flex-end;
  background-color: rgb(var(--high-contrast-rgb));
  border: none;
  border-radius: 0.25em;
  color: rgb(var(--background-rgb));
  font-family: var(--font-monarcha);
  font-size: calc(18px + 0.5vw);
  font-weight: 600;
  padding: 0.5em 1em;
}

.submitButton:disabled {
  background-color: rgba(var(--high-contrast-rgb), 0.8);
  color: rgba(var(--background-rgb), 0.2);
}

.sectionHeading {
  font-family: var(--font-monarcha);
  font-size: calc(15px + 0.5vw);
}

.sectionSubheading {
  font-size: calc(10px + 0.5vw);
  font-weight: 200;
  margin-bottom: 1em;
}

.formField {
  display: flex;
  flex-direction: column;
}

.inputLabel {
  font-size: calc(12px + 0.5vw);
  font-weight: 200;
}

.inputLabel,
.usernameLabelWrapper {
  margin-bottom: 0.1em;
}

.usernameLabelAndInfo {
  font-size: calc(12px + 0.5vw);
  position: relative;
}

.usernameLabelWrapper {
  align-items: center;
  display: flex;
  gap: 0.5em;
  width: max-content;
}

.usernameLabelAndInfo .inputLabel {
  border-bottom: 0.1em dotted rgb(var(--high-contrast-rgb));
}

.infoIcon {
  height: 1.25em;
  position: relative;
  width: 1.25em;
}

.infoPopup {
  background-color: rgba(var(--high-contrast-rgb), 0.95);
  border-radius: 0.2em;
  color: rgb(var(--background-rgb));
  padding: 0.5em;
  position: absolute;
  top: 1.5em;
  transition: opacity 0.2s;
  width: 55vw;
  z-index: 1;
}

.infoPopup.hide {
  opacity: 0;
  pointer-events: none;
}

.infoPopup.show {
  opacity: 1;
}

.infoContent {
  font-size: calc(8px + 0.5vw);
  font-style: italic;
  font-weight: 300;
}

.inputField {
  background-color: rgb(var(--low-contrast-rgb));
  border: 0.05em solid rgb(var(--foreground-rgb));
  border-radius: 0.2em;
  color: rgb(var(--high-contrast-rgb));
  font-size: calc(16px + 0.5vw);
  padding: 0.5em;
}

.requiredIndicator {
  align-self: flex-end;
  font-size: calc(8px + 0.5vw);
  font-weight: 200;
}

.hint {
  color: rgb(var(--high-contrast-rgb));
  font-size: calc(10px + 0.5vw);
  font-style: italic;
  font-weight: 200;
  margin-bottom: 1em;
  min-height: 1.5em;
}

.statusModal {
  background-color: transparent;
  border: none;
  color: rgb(var(--foreground-rgb));
}

.statusModal::backdrop {
  background-color: rgb(var(--background-rgb), 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.statusModal:focus {
  outline: none;
}

.modalContent {
  display: flex;
  flex-direction: column;
}

.loadingIndicator,
.statusIcon {
  height: 5em;
  margin-bottom: 1em;
  width: 5em;
}

.loadingIndicator {
  align-items: center;
  display: flex;
}

.spinner {
  animation: spinner 5s infinite;
  box-shadow:
    -1em -1em 0 0.5em,
    -1em -1em 0 0.5em,
    -1em -1em 0 0.5em,
    -1em -1em 0 0.5em;
  color: rgb(var(--high-contrast-rgb));
  height: 0.5em;
  left: 1.5em;
  position: relative;
  width: 0.5em;
}

@keyframes spinner {
  0% {
    box-shadow:
      -1em -1em 0 0.5em,
      -1em -1em 0 0.5em,
      -1em -1em 0 0.5em,
      -1em -1em 0 0.5em;
  }
  8.33% {
    box-shadow:
      -1em -1em 0 0.5em,
      1em -1em 0 0.5em,
      1em -1em 0 0.5em,
      1em -1em 0 0.5em;
  }
  16.66% {
    box-shadow:
      -1em -1em 0 0.5em,
      1em -1em 0 0.5em,
      1em 1em 0 0.5em,
      1em 1em 0 0.5em;
  }
  24.99% {
    box-shadow:
      -1em -1em 0 0.5em,
      1em -1em 0 0.5em,
      1em 1em 0 0.5em,
      -1em 1em 0 0.5em;
  }
  33.32% {
    box-shadow:
      -1em -1em 0 0.5em,
      1em -1em 0 0.5em,
      1em 1em 0 0.5em,
      -1em -1em 0 0.5em;
  }
  41.65% {
    box-shadow:
      1em -1em 0 0.5em,
      1em -1em 0 0.5em,
      1em 1em 0 0.5em,
      1em -1em 0 0.5em;
  }
  49.98% {
    box-shadow:
      1em 1em 0 0.5em,
      1em 1em 0 0.5em,
      1em 1em 0 0.5em,
      1em 1em 0 0.5em;
  }
  58.31% {
    box-shadow:
      -1em 1em 0 0.5em,
      -1em 1em 0 0.5em,
      1em 1em 0 0.5em,
      -1em 1em 0 0.5em;
  }
  66.64% {
    box-shadow:
      -1em -1em 0 0.5em,
      -1em -1em 0 0.5em,
      1em 1em 0 0.5em,
      -1em 1em 0 0.5em;
  }
  74.97% {
    box-shadow:
      -1em -1em 0 0.5em,
      1em -1em 0 0.5em,
      1em 1em 0 0.5em,
      -1em 1em 0 0.5em;
  }
  83.3% {
    box-shadow:
      -1em -1em 0 0.5em,
      1em 1em 0 0.5em,
      1em 1em 0 0.5em,
      -1em 1em 0 0.5em;
  }
  91.63% {
    box-shadow:
      -1em -1em 0 0.5em,
      -1em 1em 0 0.5em,
      -1em 1em 0 0.5em,
      -1em 1em 0 0.5em;
  }
  100% {
    box-shadow:
      -1em -1em 0 0.5em,
      -1em -1em 0 0.5em,
      -1em -1em 0 0.5em,
      -1em -1em 0 0.5em;
  }
}

.statusIcon {
  position: relative;
}

.status {
  font-family: var(--font-monarcha);
  font-size: calc(22px + 0.5vw);
  font-weight: 200;
}

.signInLink,
.backButton {
  align-self: flex-end;
  border: solid 0.1em rgb(var(--high-contrast-rgb));
  border-radius: 0.2em;
  color: rgb(var(--high-contrast-rgb));
  font-size: calc(16px + 0.5vw);
  margin-top: 1em;
  padding: 0.5em 1em;
  text-decoration: none;
}

.backButton {
  background-color: transparent;
}

@media (min-width: 1000px) {
  .nameSection {
    margin-bottom: 2em;
  }

  .nameFields {
    column-gap: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .usernamePwdFields {
    column-gap: 5vw;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
  }

  .usernameField {
    grid-area: 1 / 1 / 2 / 2;
  }

  .pwdField {
    grid-area: 2 / 1 / 3 / 2;
  }

  .pwdConfirmField {
    grid-area: 2 / 2 / 3 / 3;
  }

  .infoPopup {
    width: 25vw;
  }
}
